<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User Overview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/displayUsers.css') }}">
</head>
<body>
    <section class="user-list-section">
        <table class="user-list-table">
            <caption>Registered Students</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Current Status</th>
                    <th>Year Of Study</th>
                    <th>Degree Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                    <td>{{ user[5] }}</td>
                    <td><button class="user-action">Modify</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section class="user-list-section">
        <table class="user-list-table">
            <caption>Registered Faculty Members</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Current Status</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in faculty_members %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                    <td><button class="user-action">Modify</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>